.receipt
{
    font-size:larger;
    border: 1px solid black;
    padding: 20px 40px 40px 40px;
}

.receipt-field
{
    border-bottom: 1px solid black;
    font-family: 'Courier New';
    align-self: flex-end;
}

